<header>
    <div class="logo">
        <h1>POKÉMON</h1>
    </div>
    <div class="nav">
        <ul>
            <li><a routerLink='/home' routerLinkActive="active-link">Busqueda</a></li>
            <li><a routerLink="/teams"routerLinkActive="active-link" router>Equipo</a></li>
            <li><a href="galeria">Pokemons</a></li>
        </ul>
    </div>
    <div class="menuHam">
        <i id="barras" class="fa-solid fa-bars"></i>
    </div>
    <img src="../../assets/img/LogoVersión2.jpg" alt="Logo Personal" id="logo_personal">
</header>
