header{
    display: flex;
    padding:20px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;

}
.logo{
    color: cadetblue;
}
ul{
    display:flex;
}
li{
    list-style:none;
    margin:20px;
}
a{
    text-decoration: none;
    color:cadetblue;
}
.menuHam{
    display:none;
}
#logo_personal{
    display:none;
}

@media screen and (max-width: 1180px){
    header{
        flex-wrap: wrap;
    }
    
    .menuHam{
        display:block;
    }
    .nav{
        width:100%;
        order:1;
        text-align: center;
        display:none;
    }
    .nav.mostrar{
        display:block;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        
    }
    li{
        border-bottom: 1px solid black;
    }
    #logo_personal{
        display:block;
        width:50px;
        height:50px;
    }
}