<section id="team">
    <div class="container1">
        <div class="logo">
            <img src="../../assets/img/LogoPortafolio.jpg" alt="Logo">
        </div>
        <div class="card-container">
            <div class="box">
                <img src="../../assets/img/bulbasaur.avif" alt="bulbasaur">
                <br>
                <h3>
                    <b>Hp: 45</b>
                </h3>
                <br>
                <h3>
                    <b>Attack: 49</b>
                </h3>
                <br>
                <h3>
                    <b>Defense: 49</b>
                </h3>
            </div>
            <div class="box">
                <img src="../../assets/img/charmander.avif" alt="charmander">
                <br>
                <h3>
                    <b>Hp: 39</b>
                </h3>
                <br>
                <h3>
                    <b>Attack: 52</b>
                </h3>
                <br>
                <h3>
                    <b>Defense: 43</b>
                </h3>
            </div>
            <div class="box">
                <img src="../../assets/img/mew.avif" alt="mew">
                <br>
                <h3>
                    <b>Hp: 100</b>
                </h3>
                <br>
                <h3>
                    <b>Attack: 100</b>
                </h3>
                <br>
                <h3>
                    <b>Defense: 100</b>
                </h3>
            </div>
            <div class="box">
                <img src="../../assets/img/paras.avif" alt="paras">
                <br>
                <h3>
                    <b>Hp: 35</b>
                </h3>
                <br>
                <h3>
                    <b>Attack: 70</b>
                </h3>
                <br>
                <h3>
                    <b>Defense: 55</b>
                </h3>
            </div>
            <div class="box">
                <img src="../../assets/img/pikachu.avif" alt="pikachu">
                <br>
                <h3>
                    <b>Hp: 35</b>
                </h3>
                <br>
                <h3>
                    <b>Attack: 55</b>
                </h3>
                <br>
                <h3>
                    <b>Defense: 40</b>
                </h3>
            </div>
            <div class="box">
                <img src="../../assets/img/squirtle.avif" alt="squirtle">
                <br>
                <h3>
                    <b>Hp: 44</b>
                </h3>
                <br>
                <h3>
                    <b>Attack: 48</b>
                </h3>
                <br>
                <h3>
                    <b>Defense: 65</b>
                </h3>
            </div>
        </div>
        <div class="logo-inv">
            <img src="../../assets/img/LogoVersión2.jpg" alt="">
        </div>
    </div>
</section>